/* @USE */
/* VARIABLES (VRmx) */
/* MIXINS (vrMX) */
/* MAPS */
/* EXTEND */
.main__title, .body__container main h1.titular {
  font-size: 38px;
  color: rgb(90, 153, 212);
}

/* MEDIA QUERIES */
@media all and (max-width: 568px) {
  .body__container {
    /* HEADER */
    /* NAV */
    /* MAIN */
    /* FOOTER */
    /* FOOTER RRSS */
    /* FOOTER COPY */
    /* FOOTER ASIDE */
  }
  .body__container header nav .title__nav a {
    font-size: 16px;
  }
  .body__container .main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .body__container .main button {
    position: relative;
    bottom: 250px;
  }
  .body__container .main .cards {
    display: flex;
    flex-direction: column;
  }
  .body__container .main .cards .card {
    display: none;
  }

  .main__articles {
    display: flex;
    flex-direction: column;
  }
}
/* RESET CSS */
* {
  overflow: hidden;
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* BODY */
.body__container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#000a13, #000f1f);
  /* HEADER */
  /* MAIN */
  /* FOOTER */
}
.body__container header {
  background-color: rgb(90, 153, 212);
  height: 10vh;
  width: 100%;
  box-shadow: 1px 1px 20px 1px rgb(9, 66, 83);
  /* NAV */
}
.body__container header .title__nav {
  height: 10vh;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body__container header .title__nav a {
  color: rgb(255, 255, 255);
  font-size: 32px;
  text-decoration: none;
  transition: 1s;
  padding: 6px;
  border-radius: 5px;
}
.body__container header .title__nav a:hover {
  background-color: white;
  color: rgb(90, 153, 212);
}
.body__container header nav {
  display: flex;
}
.body__container header .nav__list {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
.body__container header .nav__list li {
  padding: 32px;
}
.body__container header .nav__list li a {
  text-decoration: none;
  color: white;
  font-weight: 560;
  padding: 5px;
  border-radius: 7px;
  transition: 0.5s;
  padding: 6px;
}
.body__container header .nav__list li a:hover {
  background-color: white;
  color: rgb(90, 153, 212);
}
.body__container main {
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body__container main .title {
  position: relative;
  top: 50px;
}
.body__container main .title p {
  height: 100px;
}
.body__container main button {
  background: none;
  color: rgb(90, 153, 212);
  padding: 24px;
  cursor: pointer;
  font-size: 24px;
  transition: 1s;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 0;
}
.body__container main button:hover {
  background-color: rgb(90, 153, 212);
  color: white;
  box-shadow: 1px 1px 15px 1px rgb(9, 66, 83);
}
.body__container main h2 {
  color: rgb(90, 153, 212);
  font-size: 18px;
}
.body__container main p {
  font-size: 14px;
  color: rgb(90, 153, 212);
  width: 100%;
}
.body__container main .cards {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.body__container main .card {
  transition: 1s;
  border-radius: 5px;
  cursor: pointer;
}
.body__container main .card:hover {
  background-color: rgb(90, 153, 212);
  color: white;
  box-shadow: 1px 2px 20px -2px rgb(9, 66, 83);
}
.body__container main .card:active {
  background-color: rgb(17, 117, 148) !important;
}
.body__container main .card img {
  width: 145px;
}
.body__container main .card div p {
  color: linear-gradient(#000a13, #000f1f);
  margin-bottom: 10px;
}
.body__container main .card p {
  color: rgb(90, 153, 212);
  font-weight: bold;
}
.body__container footer {
  box-shadow: 1px 1px 20px 1px rgb(9, 66, 83);
  height: 15vh;
  width: 100%;
  background-color: rgb(90, 153, 212);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* FOOTER RRSS */
  /* FOOTER COPY */
  /* FOOTER ASIDE */
}
.body__container footer .footer__rrss {
  display: flex;
  flex-direction: column;
}
.body__container footer .footer__rrss a {
  text-decoration: none;
  color: white;
  font-weight: 560;
  padding: 5px;
  border-radius: 7px;
  transition: 0.5s;
}
.body__container footer .footer__rrss a:hover {
  background-color: white;
  color: rgb(90, 153, 212);
}
.body__container footer .footer__copy {
  color: white;
  font-weight: 550;
}
.body__container footer .footer__aside {
  display: flex;
  flex-direction: column;
}
.body__container footer .footer__aside a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 560;
  padding: 5px;
  border-radius: 7px;
  transition: 0.5s;
  transition: 1s;
}
.body__container footer .footer__aside a:hover {
  background-color: white;
  color: rgb(90, 153, 212);
}
.body__container footer .footer__aside a:hover {
  transition: 1s;
}

/* MEDIA QUERIES */
@media (max-width: 568px) {
  .body__container {
    /* HEADER */
    /* NAV */
    /* MAIN */
    /* FOOTER */
    /* FOOTER RRSS */
    /* FOOTER COPY */
    /* FOOTER ASIDE */
  }
  .body__container header nav .title__nav a {
    font-size: 16px;
  }
  .body__container .main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .body__container .main button {
    position: relative;
    bottom: 250px;
  }
  .body__container .main .cards {
    display: flex;
    flex-direction: column;
  }
  .body__container .main .cards .card {
    display: none;
  }
  .body__container footer .footer__aside {
    display: none;
  }
}
/* AVENTURAS HTML */
/* MAIN */
.main__title {
  margin-top: 40px;
}

.main__section {
  height: 100%;
}

.main__articles {
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.main__articles .main__article {
  border-radius: 5px;
  padding: 16px;
  height: 130px;
  width: 300px;
  transition: 1s;
}
.main__articles .main__article:hover {
  transform: translateY(-10px);
  transition: 1s;
  border: 1px solid rgb(90, 153, 212);
  box-shadow: 1px 4px 2px -2px rgb(9, 66, 83);
}
.main__articles .main__article button {
  color: linear-gradient(#000a13, #000f1f);
}
.main__articles .main__article .main__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* CLASS BODY */
.body__class {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header header" "aside main" "footer footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.class__aside {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-area: aside;
}
.class__aside ul {
  list-style: none;
}
.class__aside ul li {
  font-weight: 550;
  padding: 16px;
  transition: 1s;
}
.class__aside ul li:hover {
  transition: 1s;
  transform: translateX(10px);
}
.class__aside ul li a {
  text-decoration: none;
  color: white;
  font-weight: 560;
  padding: 5px;
  border-radius: 7px;
  transition: 0.5s;
  color: rgb(90, 153, 212);
}
.class__aside ul li a:hover {
  background-color: white;
  color: rgb(90, 153, 212);
}

/*# sourceMappingURL=style.css.map */
